<div id="nav">
  <h1>Meet Me Halfway?</h1>
</div>

<div class="container">
  <div id="row">
    <form>
      <input type="text" id="start" placeholder="Where are they?">
      <br><br>
      <input type="text" id="endloc" placeholder="Where are they?">
      <button type="button" id="submit_button">Where can we eat?</button>
    </form>
    <div id="error"></div>
  </div>

    <div id="travelmode">
      <p>Mode of Travel: </p>
      <select id="mode">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Subway or Bus</option>
      </select>
    </div>
  
    <br>

    <div id="map">
    </div>

    <div id="yelp">
    </div>
</div>


</div>