<h1>Lüft</h1>
<h2>Ride Comparison Engine</h2>

<form>
    <input type="submit" id="submit">
</form>

<br><br>
<%= @uber_output %>

<br><br>
<div id="uber">
    <% @uber_output.each do |object| %>
        <strong><%= object["localized_display_name"] %></strong><br>
        Ride Time: <%= (object["duration"]/60).to_s + " minutes" %><br>
        Price Estimate: <%= object["estimate"] %><br>
        <br>
    <% end %>
</div>

<br><br>

