// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: 'Hind Siliguri', sans-serif !important;
}

#nav {
    background-color: black;
    color: white;
    margin-top: -20px;
    padding-top: 20px;
}

h1, h2 {
    text-align: center;
}

.table th {
    text-align: center;
    }

#submit_button { 
  color: #FFFFFF; 
  background-color: #000000; 
  border-color: #130269; 
} 

h2 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

container {
    margin-bottom: 10px;
}

form {
    text-align: center;
    
    input {
        margin: 10px;
    }
}

#uber, #lyft {
    text-align: center;
}

#start, #endloc {
    width: 250px;
}

h3 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

footer {
    margin-top: 10px;
    padding: 10px;
    border-top: 2px solid black;
}

#address {
    color: blue;
    margin: 0 auto;
}

#error {
    text-align: center;
    color: red;
}

#loading {
    display:none;
    text-align: center;
}

@media (max-width: 480px) {
    body {
        justify: center;
    }
    
    #uber {
       margin-left: 0px; 
    }

    #lyft {
        margin-left: 0px;
    }
}

@media (max-width: 330px) {
    body {
        justify: center;
    }
    
    #uber {
       margin-left: 0px; 
    }

    .table {
    text-align: center;
    font-size: 10;
    }

    #lyft {
        margin-left: 0px;
    }
}


