// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	height: 100%;
}

#map {
	width: 500px;
	height: 400px;
	background-color: #ccc;
}




