<!DOCTYPE html>
<html>
<head>
  <title>Ridesharing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
</head>
<body>

<%= yield %>
<footer class="footer">
    <div class="container">
        <p class="text-muted">created by Shraddha Patel, Anton Economos, and Alex Pujol</p>
    </div>
</footer>
</html>